{{ define "main" }}
<div class="hero row">
  <div class="col-lg-8">
    <p class="lead">
      <b>Kobun</b> is a bot for your Discord server that's almost completely customizable to your liking.
    </p>
    </div>
  <div class="col-lg-4 text-center">
    <p>
      <a class="btn btn-lg btn-primary btn-block" href="https://discordapp.com/oauth2/authorize?client_id=315169774688534530&amp;scope=bot&amp;redirect_uri=https%3A%2F%2Fkobun.life%2F_oauthcallback.html&amp;access_type=offline&amp;response_type=token" role="button" >Add to server</a>
    </p>
    <p>
      <a href="https://discord.gg/MNqc3f8"><img src="https://discordapp.com/api/guilds/323659543622057984/embed.png" alt="Discord"></a>
    </p>
  </div>
</div>

<div class="marketing row">
  <div class="row">
    <div class="col-lg-6">
      <h4>For users</h4>
      <p>Saw Kobun in a server and don't know what it does? Check out our <a href="/guides/users">user guide</a> for a quick rundown of its features and how to use them.</p>
    </div>

    <div class="col-lg-6">
      <h4>For scripters</h4>
      <p>Don't want to set up a whole Discord bot for custom commands? Our <a href="https://docs.kobun.life/en/latest/scripting/index.html">scripting documentation</a> is the go-to reference for making Kobun do what you want.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h4>For server admins</h4>
      <p>Want Kobun for your server? Our <a href="/guides/servers">server admin guide</a> has information about how to set up and manage Kobun.</p>
    </div>

    <div class="col-lg-6">
      <h4>For developers</h4>
      <p>Want to run your own Kobun or add features? We're open source – check out our <a href="https://github.com/porpoises/kobun4">GitHub repository</a> for the code!</p>
    </div>
  </div>
</div>
{{ end }}
