{{define "title"}}{{.AccountHandle}}{{end}}

{{define "body"}}
<p>Hi, and welcome to your account page.</p>
<dl>
    <dt>Account Handle</dt>
    <dd><samp>{{.AccountHandle}}</samp></dd>

    <dt>Account Key (keep this secret!)</dt>
    <dd><span class="secret"><samp>{{.AccountKey}}</samp></span></dd>

    <dt>Balance</dt>
    <dd>{{.Balance}}</dd>
</dl>

<h2>Scripts Owned</h2>
<ul>
{{range $_, $name := .ScriptNames}}
    <li><a href="/scripts/{{$.AccountHandle}}/{{$name}}">{{$name}}</a></li>
{{end}}
</ul>

<form method="POST" action="/scripts/{{.AccountHandle}}">
    <input type="text" name="name">
    <button type="submit">Create new script</button>
</form>

<h2>Deeds Owned</h2>
<p>
    <table>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Content</th>
            <th>Lease expires in</th>
            <th>Renew</th>
            <th>Delete</th>
        </tr>

        <tr>
            <td>command</td>
            <td>
                <samp>ud</samp>
            </td>
            <td>
                <form method="POST" action="/deeds/DEED_NAME">
                    <input type="hidden" name="name" value="">
                    <input type="text" name="content" value=""><button type="submit">Update</button>
                </form>
            </td>
            <td>1 hour</td>
            <td>
                <form method="POST" action="/deeds/DEED_NAME/renew">
                    <input type="hidden" name="name" value="">
                    <input type="number" name="periods" value="1"> periods <button type="submit">Renew</button>
                </form>
            </td>
            <td>
                <form method="POST" action="/deeds/DEED_NAME/delete">
                    <input type="hidden" name="name" value="">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</p>

<h3>Market Prices</h3>
<p>
    <table>
        <tr>
            <th>Type</th>
            <th>Price</th>
            <th>Lease period</th>
        </tr>

        <tr>
            {{range $_, $def := .DeedTypes}}
            <td>{{$def.Name}}</td>
            <td>{{$def.Price}}</td>
            <td>{{$def.DurationSeconds | prettySeconds}}</td>
            {{end}}
        </tr>
    </table>
</p>

<form method="POST" action="/deeds">
    <dl>
        <dt><label for="deed-type">Type</label></dt>
        <dd>
            <select id="deed-type" name="type">
                <option disabled selected></option>
                {{range $_, $def := .DeedTypes}}
                    <option value="{{$def.Name}}">{{$def.Name}}</td>
                {{end}}
            </select>
        </dd>

        <dt><label for="deed-name">Name</label></dt>
        <dd><input id="deed-name" type="text" name="name"></dd>

        <dt><label for="deed-content">Content</label></dt>
        <dd><input id="deed-content" type="text" name="content"></dd>

        <dt><label for="deed-periods">Periods</label></dt>
        <dd><input id="deed-periods" type="number" name="periods" value="1"></dd>
    </dl>
    <button type="submit">Purchase deed</button>
</form>

{{end}}
