{{define "title"}}{{.AccountHandle}}{{end}}

{{define "body"}}
<p>Hi, and welcome to your account page.</p>
<dl>
    <dt>Account Handle</dt>
    <dd><samp>{{.AccountHandle}}</samp></dd>

    <dt>Account Key (keep this secret!)</dt>
    <dd><span class="secret"><samp>{{.AccountKey}}</samp></span></dd>

    <dt>Balance</dt>
    <dd>{{.Balance}}</dd>
</dl>

<h2>Scripts Owned <small><a href="/scripts">view all scripts</a></small></h2>
<p>
    You own the following scripts.
</p>
<ul>
{{range $_, $name := .ScriptNames}}
    <li><a href="/scripts/{{$.AccountHandle}}/{{$name}}"><samp>{{$name}}</samp></a></li>
{{end}}
</ul>

<form method="POST" action="/scripts/{{.AccountHandle}}">
    <input type="text" name="name">
    <button type="submit">Create new script</button>
</form>

<h2>Aliases Owned</h2>
<p>
    You own the following aliases.
    <table>
        <tr>
            <th>Name</th>
            <th>Script Name</th>
            <th>Lease expires in</th>
            <th>Renew</th>
            <th>Delete</th>
        </tr>

        {{range $_, $alias := .Aliases}}
        <tr>
            <td>
                <samp>{{$alias.Name}}</samp>
            </td>
            <td>
                <form method="POST" action="/aliases/{{$alias.Name}}">
                    <select name="script_name">
                        {{range $_, $name := $.ScriptNames}}
                        <option value="{{$name}}" {{if eq $name $alias.ScriptName}}selected{{end}}>{{$name}}</option>
                        {{end}}
                    </select>
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>{{prettyTime $alias.ExpiryTime}}</td>
            <td>
                <form method="POST" action="/aliases/{{$alias.Name}}/renew">
                    <input type="number" name="periods" value="1"> periods <button type="submit">Renew</button>
                </form>
            </td>
            <td>
                <form method="POST" action="/aliases/{{$alias.Name}}/delete">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{end}}
    </table>
</p>

<p>
    An alias costs {{.AliasCost}} for {{prettyDuration .AliasDuration}}.
</p>

<form method="POST" action="/aliases">
    <dl>
        <dt><label for="alias-name">Name</label></dt>
        <dd><input id="alias-name" type="text" name="name"></dd>

        <dt><label for="alias-scriptname">Script Name</label></dt>
        <dd>
            <select id="alias-scriptname" name="script_name">
                <option disabled selected></option>
                {{range $_, $name := $.ScriptNames}}
                <option value="{{$name}}">{{$name}}</option>
                {{end}}
            </select>
        </dd>

        <dt><label for="alias-periods">Periods</label></dt>
        <dd><input id="alias-periods" type="number" name="periods" value="1"></dd>
    </dl>
    <button type="submit">Purchase alias</button>
</form>

{{end}}
