{{define "title"}}{{.ScriptAccountHandle}}/{{.ScriptName}} | Scripts{{end}}

{{define "head"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/codemirror.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/codemirror.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/mode/lua/lua.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/mode/python/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/mode/shell/shell.min.js"></script>
{{end}}

{{define "body"}}
<h1>Script: <samp>{{.ScriptAccountHandle}}/{{.ScriptName}}</samp></h1>
<form method="POST" action="/scripts/{{.ScriptAccountHandle}}/{{.ScriptName}}">
    <p>
        <label>Highlight as: <select id="modes"></select></label>
    </p>

    <p>
        <textarea name="content" id="editor">{{.ScriptContent}}</textarea>
    </p>

    <h2>Requested Capabilities</h2>
    <p>
        Capabilities grant specific abilities to act on behalf of the executing account. They must be explicitly granted by the executing account, and a script will fail to start if these capabilities are not available (no usage costs will be incurred).
    </p>
    <p>
        <strong>NOTE:</strong> All capabilities granted from accounts will be removed on save and must be granted again each time.
    </p>

    <p>
        <label>
            <input type="checkbox" name="bill_usage_to_executing_account" {{if .RequestedCapabilities.BillUsageToExecutingAccount}}checked{{end}}> <strong>Bill usage to executing account?</strong><br>
            If checked, all usage costs that would usually be billed to the owner of the script will be billed to the executor. The executor must grant their capability to be billed.
        </label>
    </p>

    <p>
        <label>
            <strong>Maximum withdrawal limit:</strong> <input type="number" value="{{.RequestedCapabilities.WithdrawalLimit}}" name="withdrawal_limit"><br>
            This is the maximum withdrawal limit the script may request to withdraw from the executor's account. The executor may set a lower personal limit via their capability, but the actual withdrawal limit is always the lower of the two. Be prepared to handle errors for withdrawals that don't exceed the requested withdrawal limit here, as it is mostly an advisory limit.
        </label>
    </p>

    <p>
        <button type="submit">Save</button>
    </p>
</form>

<form method="POST" action="/scripts/{{.ScriptAccountHandle}}/{{.ScriptName}}/delete">
    <button type="submit" onclick="return confirm('Are you sure you want to delete this script? This is IRREVERSIBLE!')">Delete</button>
</form>

<nav>
    <ul>
        <li><a href="/scripts/{{.ScriptAccountHandle}}">Return to account script index</a></li>
        <li><a href="/scripts">Return to script index</a></li>
        <li><a href="/">Return to account home page</a></li>
    </ul>
</nav>

<script>
(function() {
    var cm = CodeMirror.fromTextArea(document.getElementById("editor"), {
        mode: 'null',
        lineNumbers: true,
        viewportMargin: Infinity,
    });

    var modesSelect = document.getElementById("modes");
    Object.keys(CodeMirror.modes).forEach(function (k) {
        var option = document.createElement('option');
        option.value = k;
        option.textContent = k;
        option.checked = k == cm.getOption('mode');
        modesSelect.appendChild(option);
    })
    modesSelect.onchange = function () {
        cm.setOption('mode', this.value);
    };
})();
</script>
{{end}}
