{{define "title"}}{{.ScriptAccountHandle}}/{{.ScriptName}} | Scripts{{end}}

{{define "head"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/codemirror.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/codemirror.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/mode/python/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/mode/shell/shell.min.js"></script>
{{end}}

{{define "body"}}
<h1>Script: {{.ScriptAccountHandle}}/{{.ScriptName}}</h1>
<form method="POST" action="/scripts/{{.ScriptAccountHandle}}/{{.ScriptName}}">
    <p>
        <label>Highlight as: <select id="modes"><option disabled selected></option></select></label>
    </p>

    <p>
        <textarea name="content" id="editor">{{.ScriptContent}}</textarea>
    </p>

    <h2>Requested Capabilities</h2>
    <p>
        <strong>NOTE:</strong> If users have granted their capabilities to this script, their capabilities will be removed on save.
    </p>

    <p>
        <label><input type="checkbox" name="bill_usage_to_executing_account" {{if .RequestedCapabilities.BillUsageToExecutingAccount}}checked{{end}}> Bill usage to executing account?</label>
    </p>

    <p>
        <label>Maximum withdrawal limit: <input type="number" value="{{.RequestedCapabilities.WithdrawalLimit}}" name="withdrawal_limit"></label>
    </p>

    <p>
        <button type="submit">Save</button>
    </p>
</form>

<form method="POST" action="/scripts/{{.ScriptAccountHandle}}/{{.ScriptName}}/delete">
    <button type="submit">Delete</button>
</form>

<p>
    <a href="/">Return to account home page</a>
</p>

<script>
(function() {
    var cm = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: true,
    });

    var modesSelect = document.getElementById("modes");
    Object.keys(CodeMirror.modes).forEach(function (k) {
        var option = document.createElement('option');
        option.value = k;
        option.textContent = k;
        modesSelect.appendChild(option);
    })
    modesSelect.onchange = function () {
        cm.setOption('mode', this.value);
    };
})();
</script>
{{end}}
