[Unit]
Description=Kobun4 Discord Bridge

[Service]
Restart=on-failure
StartLimitInterval=86400
StartLimitBurst=5

User=kobun4
Group=nogroup

EnvironmentFile=/etc/kobun4/discordbridge
WorkingDirectory=/var/lib/kobun4/discordbridge
ExecStart=/opt/kobun4/discordbridge/discordbridge -discord_token=${KOBUN4_DISCORDBRIDGE_DISCORD_TOKEN} -status=${KOBUN4_DISCORDBRIDGE_STATUS} -web_url=${KOBUN4_DISCORDBRIDGE_WEB_URL} -logtostderr

PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
ReadWriteDirectories=/var/lib/kobun4/discordbridge

[Install]
WantedBy=multi-user.target
