[Unit]
Description=Kobun4 Discord Bridge

[Service]
Restart=always
RestartSec=3

User=kobun4-discordbridge
Group=nogroup

EnvironmentFile=/etc/kobun4/discordbridge
WorkingDirectory=/var/lib/kobun4/discordbridge
ExecStart=/opt/kobun4/discordbridge/discordbridge -bot_token=${KOBUN4_DISCORDBRIDGE_BOT_TOKEN} -discord_bots_token=${KOBUN4_DISCORDBRIDGE_DISCORD_BOTS_TOKEN} -status=${KOBUN4_DISCORDBRIDGE_STATUS} -home_url=${KOBUN4_DISCORDBRIDGE_HOME_URL} -postgres_url=${KOBUN4_DISCORDBRIDGE_POSTGRES_URL} -logtostderr

PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
ReadWriteDirectories=/var/lib/kobun4/discordbridge
RuntimeDirectory=kobun4-discordbridge

[Install]
WantedBy=multi-user.target
