[Unit]
Description=Kobun4 Executor

[Service]
Restart=always
RestartSec=3

User=kobun4-executor
Group=nogroup

EnvironmentFile=/etc/kobun4/executor
WorkingDirectory=/var/lib/kobun4/executor
ExecStart=/opt/kobun4/executor/executor -k4_library_path=/opt/kobun4/clients -chroot_path=/opt/kobun4/chroot -postgres_url=${KOBUN4_EXECUTOR_POSTGRES_URL} -supervisor_path=/opt/kobun4/delegator/supervisor/supervisor -supervisor_prefix="sudo -C 9 /usr/bin/nsenter -n/run/netns/kobun4 sudo -u kobun4-executor -C 9" -logtostderr

PrivateTmp=true
PrivateDevices=false
ProtectSystem=full
ProtectHome=true
ReadWriteDirectories=/var/lib/kobun4/executor

[Install]
WantedBy=multi-user.target
