<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>

    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li role="presentation" class="nav-item"><a class="nav-link" href="/guides">Guides</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" href="/scripts">Scripts</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" href="/editor">Editor</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" href="https://docs.kobun.company">Documentation</a></li>
          </ul>
        </nav>
        <h1><a href="/">Kobun<small><sup>(β)</sup></small></a></h1>
      </div>

      {{ block "main" . }}{{ end }}

      <footer class="footer">
        <p>Kobun comes without any warranty, to the extent permitted by applicable law.</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>

