{{ define "title" }}Scripts | {{ end }}

{{ define "main" }}
<h1>Scripts</h1>

<p class="lead">Sorry, this page sucks (for now).</p>

<div id="scripts">
</div>

<noscript>
    <p>Sorry, this page needs JavaScript (for now).</p>
</noscript>
<script>
var scriptsEl = document.getElementById("scripts");

function get(path, cb) {
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
        cb(JSON.parse(xhr.responseText));
    };
    xhr.open('GET', '/api/v1/' + path);
    xhr.send(null);
}

function load(i, limit) {
    get('scripts?offset=' + i + '&limit=' + limit, function (resp) {
        if (resp.length === 0) {
            return;
        }

        resp.forEach(function (entry) {
            var cardEl = document.createElement('div');
            cardEl.className = "card m-2";
            scriptsEl.appendChild(cardEl);

            var blockEl = document.createElement('div');
            blockEl.className = "card-block";
            cardEl.appendChild(blockEl);

            var titleEl = document.createElement('h4');
            titleEl.className = "card-title";
            blockEl.appendChild(titleEl);

            var titleLinkEl = document.createElement('a');
            titleLinkEl.textContent = entry.ownerName + '/' + entry.name;
            titleLinkEl.href = 'javascript:;';
            titleLinkEl.onclick = function (e) {
                e.preventDefault();
                prompt('Paste the following into a channel with Kobun on your server to enable the command:', '@Kobun#0898 link ' + entry.name + ' ' + entry.ownerName + '/' + entry.name);
            };
            titleEl.appendChild(titleLinkEl);

            var smallEl = document.createElement('small');

            var viewSourceEl = document.createElement('a');
            viewSourceEl.href = 'view.html?' + titleLinkEl.textContent;
            viewSourceEl.textContent = '(view source)';
            smallEl.appendChild(viewSourceEl);

            titleEl.appendChild(document.createTextNode(' '));
            titleEl.appendChild(smallEl);

            var descriptionEl = document.createElement('p');
            descriptionEl.className = "card-text";

            blockEl.appendChild(descriptionEl);
            descriptionEl.textContent = entry.description;
        });

        load(i + limit, limit);
    });
}
load(0, 50);
</script>
{{ end }}
